.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .page, .current-page {
    border: 1px solid red;
    margin-left: 10px;
    cursor: pointer;
    padding: 5px;
  }

  .current-page {
    color: deepskyblue;
    font-weight: 700;
    border: 2px solid orange;
  }

  .last-page {
    border: 1px solid red;
    padding: 5px 5px 0 5px;

  }
}
