.left-sidebar {
  text-align: center;
  width: 50%;

  .search-users-name {
    text-align: center;
    width: 80%;
  }

  .loader {
    width: 100%;
  }

  .users-block {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .repos-number {
    margin-top: 33px;
    margin-bottom: 88px;

  }


  .img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  .repo-number {
    margin-right: 20px;
    font-weight: bold;
  }

  .users-name {
    padding-left: 30px;
  }

  .user-name {
    margin-left: 20px;
    font-size: 17px;
    font-weight: bold;

  }
}

@media screen and (max-width: 900px) {
  .left-sidebar, .right-sidebar {
    position: static;
  }
}
