.user {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  .search-repo {
    width: 100%;
  }

  .search-repos {
    margin: 0 10% 10px;
    width: 80%;
  }

  .repos-title {
    margin: 20px 0;
    text-align: center;
  }

  .user-title {
    text-align: center;
  }
}


