.user {
  width: 50%;
  height: 100%;
  background: aquamarine;
  display: flex;
  flex-direction: column;


  .search-repo {
    width: 100%;
  }

  .search-repos {
    margin: 50px 10%;
    width: 80%;
  }

  .title {
    text-align: center;
  }
}



