.user-profile {
  display: flex;
  flex-direction: row;

  .loader {
    width: 100%;
  }

  .user-bio {
    //padding:0 0 20px 20px;
    white-space: normal;
    //text-align: center;
  }

  .user-info {
    list-style: none;
    line-height: 2.5;
    min-width: 500px;
  }

  .user-description {
    display: flex;
    flex-direction: row
  }

  .user-avatar {
    margin: 0 20px 0 20px;
    width: 250px;
    height: 250px;
  }
}
